{% extends 'core/base.html' %}
{% block header %}
<div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://digimon.shadowsmith.com/img/koromon.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://digimon.shadowsmith.com/img/yokomon.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://digimon.shadowsmith.com/img/tsunomon.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
{% endblock header %}
{% block content %}
<div class="row"><h1 class="text-center m-3">Personajes Ricardo and Morticio</h1></div>
<div class="row mx-5">
    {% for personaje in personajes %}
        <div class="card m-3" style="width: 18rem;">
            <img src="{{personaje.image}}" class="card-img-top" alt="{{personaje.name}}">
            <div class="card-body">
                <h5 class="card-title">{{personaje.name}}</h5>
                <p class="card-text">
                    <ul>
                        <li>{{personaje.status}}</li>
                        <li>{{personaje.species}}</li>
                        <li>{{personaje.gender}}</li>
                    </ul>
                </p>
                <a href="{{personaje.image}}" class="btn btn-primary">Ver Imagen</a>
            </div>  
        </div>
    {% endfor %}
</div>


{% endblock content %}
